* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.btn_primary {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 41px;
  background: #e02c6d;
  display: inline-flex;
  padding: 10px 24px;
  align-items: flex-start;
  gap: 8px;
  border: 0;
}

.heading_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav_items {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 20px;
}

.nav_items a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 12px;
  font-weight: 600;
}

.nav_items li {
  list-style: none;
  margin-right: 30px;
}

.heading_title {
  padding: 20px;
  margin-left: 50px;
}

.heading_container {
  display: flex;
  width: auto;
  align-items: center;
  margin-bottom: 60px;
}

.heading_main_title {
  width: 38%;
  margin: auto;
}

.heading_main_title .heading_main_text {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 134.615% */
}

.heading_main_title .heading_main_paragraph {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 70%;
  margin-bottom: 20px;
}

.heading_main_image_section {
  background-image: url("../assets/images/Circle\ design.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  margin-top: 20px;
  margin-right: 100px;
}

/* brand logo section */
.brand_logo_container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding-top: 20px;
}

/* collection section */
.collection_heading {
  margin: 50px;
  text-align: center;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 250% */
}

.collection_product_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: auto;
  gap: 20px;
}

.collection_product {
  width: 300px;
  height: 430px;
  flex-shrink: 0;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.collection_product .collection_product_heading {
  color: var(--text-gray-900, #18191f);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 142.857% */
}

.collection_product .collection_product_price {
  color: rgba(0, 0, 0, 0.87);

  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
}

.collection_product p {
  width: 196px;
  color: var(--gray-50, #787885);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 143%; /* 20.02px */
  letter-spacing: 0.252px;
}

.collection_product img {
  width: 100%;
  margin: auto;
}

/* responsive section */
/* mobile view */

@media screen and (max-width: 576px) {
  .heading_navbar {
    flex-direction: column;
    width: auto;
    margin: auto;
  }

  .heading_title {
    /* padding: 20px; */
    margin: auto;
  }

  .nav_items {
    flex-direction: column;
    width: 50%;
    /* margin: auto; */

    /* display: flex; */
    margin-left: 60px;
  }

  .heading_container {
    flex-direction: column-reverse;

    margin-bottom: 30px;
  }
  .heading_main_title {
    width: 38%;
    margin: auto;
    width: 100%;
  }

  .heading_main_title .heading_main_text {
    color: #3a3a3a;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    text-align: center;
    line-height: 50px;
  }

  .heading_main_title .heading_main_paragraph {
    text-align: center;
    margin: auto;
  }

  .heading_main_image_section {
    background-image: none;
    margin: auto;
  }

  .heading_main_image_section img {
    height: 200px;
    width: 200px;
  }

  .heading_main_title .btn_primary {
    margin-left: 120px;
    margin-top: 20px;
  }

  .brand_logo_container {
    flex-direction: column;
  }

  .collection_product_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .collection_product {
    width: 90%;
    margin: auto;
  }
  .collection_product img {
    width: 100%;
    margin: auto;
  }
}
